.child-cell {
  width: 100%;
  padding: 1%;
}
.cell {
  width: 100%;
}
.nav.cell {
  width: 96%;
  margin: 1%;
}
.flex {
  display: flex;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.4rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.top {
  margin: 1%;
  padding: 1%;
}
.middle {
  margin: 1%;
  padding: 1%;
}
.home {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
}
.home .listing-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .listing-images img {
  border: 1px solid black;
  max-width: 100%;
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .listing-images img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .home .listing-images .sky,
  .home .listing-images .launch {
    display: none;
  }
}
.home .bottom {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .bottom {
    margin-top: 1%;
    flex-direction: column-reverse;
    padding: 15px;
  }
}
.home .bottom .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .bottom .walk-text {
    width: 100%;
    margin: 3% 0 1% 0;
  }
}
.home .bottom .walk-text h3 {
  margin-bottom: 10px;
}
.home .bottom .walk-text p {
  margin-bottom: 26px;
}
.home .bottom .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .bottom .walk-img {
    width: 100%;
    margin: 0;
  }
}
.home .bottom .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.bottom {
  justify-content: center;
}
.bottom-image {
  width: 50%;
  max-width: 50%;
}
bottom-img {
  width: 50%;
  max-width: 100%;
}
.meet-the-team {
  width: 90%;
  margin: 1%;
  padding: 2%;
}
.team-box {
  border: 0.5px solid oldlace;
  border-radius: 5%;
  background-color: oldlace;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: initial;
  width: 90%;
  margin: 1% auto;
}
@media (max-width: 500px) {
  .team-box {
    border-radius: 15px;
  }
}
@media (max-width: 800px) {
  .team-box {
    border-radius: 10px;
  }
}
.team-intro {
  width: 100%;
  margin-top: 1%;
  padding: 2%;
  text-align: center;
}
.team-member {
  display: flex;
  flex-wrap: wrap;
  border: 5px solid lightslategray;
  border-radius: 20px;
  justify-content: space-between;
  width: 45%;
  margin: 2%;
  padding: 3%;
}
@media (max-width: 500px), (max-width: 800px) {
  .team-member {
    width: 100%;
  }
}
.team-member img {
  border: 0.5px dotted lightblue;
  border: 0.5px solid black;
  width: 100%;
  margin: 1%;
  margin-bottom: 5%;
  border-radius: 100%;
}
.team-member p {
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.4;
  text-align: center;
  color: black;
  font-family: 'Russo One', sans-serif;
  margin: 1%;
  max-width: 100%;
}
.team-member p a {
  max-width: 100%;
  border: 1px solid black;
  overflow-wrap: break-word;
}
.team-member h1,
.team-member h2,
.team-member h3,
.team-member h4,
.team-member h5 {
  width: 100%;
  margin: 1%;
  font-family: 'Russo One', sans-serif;
  color: #23293B;
  text-align: center;
}
.team-member h2 {
  font-size: 3.2rem;
}
.team-member h3 {
  font-size: 2.8rem;
}
.team-image {
  max-width: 100%;
}
.content-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  border: 1px solid black;
  border-radius: 15px;
  margin: 1%;
  background-color: oldlace;
}
@media (max-width: 500px) {
  .content-box {
    flex-direction: column;
    justify-content: center;
  }
}
.content-box .image {
  width: 50%;
  margin: 1%;
  max-width: 100%;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .content-box .image {
    width: 100%;
  }
}
.content-box .image img {
  max-width: 100%;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .content-box .image img {
    width: 100%;
  }
}
.content-box .text {
  width: 45%;
  margin: 1%;
  padding: 1%;
  background-color: oldlace;
}
@media (max-width: 500px) {
  .content-box .text {
    width: 100%;
  }
}
.content-box .text p {
  margin-top: 2%;
}
.content-box .btn {
  background: oldlace;
  color: lightslategray;
  text-align: center;
  border-radius: 5px;
  font-size: 1.6rem;
  padding: 4%;
  width: 100%;
  border: 1px solid black;
  animation-name: buttonAnimation;
  animation-duration: 10s;
}
@keyframes buttonAnimation {
  from {
    background-color: white;
  }
  to {
    background-color: #282828;
  }
}
@media (max-width: 500px) {
  .content-box .btn {
    width: 100%;
    padding: 4% 0;
  }
}
.content-box .btn:hover {
  background: darkblue;
  color: red;
}
.container {
  /*
  max-width: 800px;
  */
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.text-box {
  width: 90%;
  margin: 1%;
  padding: 1%;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1% auto;
  padding: 2% 1%;
}
.main-container .main-text {
  width: 65%;
}
.main-container .main-text h2,
.main-container .main-text h3 {
  margin: 1%;
}
.main-container .main-text p {
  margin: 1%;
  font-size: 2.2rem;
  line-height: 1.4;
}
.main-container .banner-image {
  width: 30%;
  max-width: 100%;
}
.main-container .banner-image img {
  max-width: 100%;
}
.main-container .main-image {
  width: 30%;
  max-width: 100%;
}
.main-container .main-image img {
  max-width: 100%;
}
.image-container {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1%;
}
.image-container img {
  width: 33%;
  max-width: 100%;
  object-fit: contain;
}
.grandparent-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 1%;
  background-color: oldlace;
}
.grandchild-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .grandchild-container {
    flex-direction: column-reverse;
  }
}
.parent-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  padding: 2%;
  border: 1px solid lightslategray;
  margin: 1%;
  border-radius: 25px;
  background-color: lightslategray;
}
.parent-container hr {
  width: 100%;
  margin: 2%;
}
@media (max-width: 500px) {
  .parent-container {
    flex-direction: column;
  }
}
.child-text {
  width: 50%;
  margin: 1%;
  background-color: oldlace;
  border-radius: 15px;
}
@media (max-width: 500px) {
  .child-text {
    width: 100%;
    padding: 1%;
  }
}
.child-text h2,
.child-text h3 {
  margin: 1%;
  text-align: center;
}
.child-text p {
  margin: 1%;
  font-size: 2.2rem;
  line-height: 1.4;
}
.child-image {
  width: 45%;
  margin: 1%;
  max-width: 100%;
  border-radius: 15px;
}
@media (max-width: 500px) {
  .child-image {
    width: 100%;
    padding: 1%;
  }
}
.child-image img {
  border-radius: 15px;
  max-width: 100%;
}
.button {
  background: oldlace;
  color: lightslategray;
  text-align: center;
  border-radius: 15px;
  font-size: 4rem;
  padding: 4%;
  width: 100%;
  margin: 1%;
  border: 1px solid black;
  animation-name: buttonAnimation;
  animation-duration: 10s;
}
@keyframes buttonAnimation {
  from {
    background-color: lightslategray;
  }
  to {
    background-color: white;
  }
}
@media (max-width: 500px) {
  .button {
    width: 100%;
    padding: 4% 0;
  }
}
.button:hover {
  background: darkblue;
  color: red;
}
.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: lightslategray;
}
nav {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: lightslategray;
  color: #48D1CC;
  /*  
    // Inserting simple animation here

    @keyframes headerAnim {
    from {background-color: #000000;}
    to {background-color: #E8E8E8;}
    }

    animation-name: headerAnim;
    animation-duration: 10s;
    
    // Ending animation

    */
}
@media (max-width: 500px) {
  nav {
    width: 96%;
    margin: 1%;
    margin-bottom: 2%;
  }
}
nav h1 {
  width: 95%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: oldlace;
  color: lightslategray;
  text-align: center;
  font-size: 3.8rem;
  margin: 1%;
  padding: 2%;
}
@media (max-width: 500px) {
  nav h1 {
    width: 96%;
    margin: 1%;
  }
}
nav a {
  width: 20%;
  margin-bottom: 1%;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  background-color: oldlace;
  color: lightslategray;
  font-family: 'Russo One', sans-serif;
  font-size: 1.6rem;
  padding: 2%;
}
@media (max-width: 500px) {
  nav a {
    width: 96%;
    margin: 1%;
  }
}
header {
  width: 100%;
}
header .header-image {
  width: 100%;
  max-width: 100%;
  height: 70vh;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: lightslategray;
  border-top: 0.5px dashed darkblue;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-top: 0.5px dashed darkblue;
  width: 80%;
  color: lightslategray;
  background: lightslategray;
  padding-top: 1%;
}
@media (max-width: 500px) {
  .footer-container {
    flex-direction: column;
  }
}
.footer-container a {
  width: 20%;
  background: oldlace;
  color: lightslategray;
  border: 0.5px dotted blue;
  border-radius: 10px;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 1.6rem;
  margin: 1%;
  padding: 2%;
}
@media (max-width: 500px) {
  .footer-container a {
    width: 96%;
    margin: 1%;
  }
}
.footer-container P {
  width: 100%;
  background: lightslategray;
  color: oldlace;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 1.6rem;
  margin: 1%;
  padding: 1%;
}
