// Footer Styles

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: @parentbg;
  border-top: 1px solid darkblue;
}

.footer-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: @parentwidth;
  color: @textcolor;
  background: @bgcolor;
  padding-top: 1%;

  @media @phone{
    flex-direction: column;
  }

  a{
    width: 20%;
    background: @footerbuttoncolor;
    color: @textcolor;
    border: 1px solid;
    border-color: @h1text;
    border-radius: 10px;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 1.6rem;
    margin:1%;
    padding:2%;

    transition-duration: 0.7s;

    &:hover{
      background-color: @h1bg;

      color: @hovertext;
    }

    @media @phone{
      .nav.cell();
    }
  }
 
  P{
    width: 100%;
    text-align: center;
    background: @parentbg;
    color: @grandparentbg;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 1.6rem;
    margin:1%;
    padding:1%;
  }
}