// Footer Styles
footer {
  color: @textcolor;
  background: @bgcolor;
  padding: 2%;
  border: 1px double #e0e0e0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
