// Footer Styles

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background-color: @parentbg;
  border-top: 0.5px dashed darkblue;
}

.footer-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-top: 0.5px dashed darkblue;
  width: @parentwidth;
  color: @textcolor;
  background: @bgcolor;
  padding-top: 1%;

  @media @phone{
    flex-direction: column;
  }

  a{
    width: 20%;
    background: @footerbuttoncolor;
    color: @textcolor;
    border: 0.5px dotted blue;
    border-radius: 10px;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 1.6rem;
    margin:1%;
    padding:2%;

    @media @phone{
      .nav.cell();
    }
  }
 
  P{
    width: 100%;
    text-align: center;
    background: @parentbg;
    color: @grandparentbg;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 1.6rem;
    margin:1%;
    padding:1%;
  }
}