// Home Content


.top{
  margin: 1%;
  padding: 1%;
}

.middle{
  margin: 1%;
  padding: 1%;
}

.home {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;

  .listing-images {
    .flex();
    flex-wrap: wrap;
    width: 100%;

    img {
      border:1px solid black;
      max-width: 100%;
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
    
      @media @phone {
          .cell();
          }
        }

        .sky, .launch{
          @media @phone {
            display: none;
          }
        }
    }

  .bottom {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    .flex();
    justify-content: center;

    @media @phone {
      margin-top: 1%;
      flex-direction: column-reverse;
      padding: 15px;
    }

    .walk-text {
      width: 50%;

      @media @phone {
        .cell();
        margin: 3% 0 1% 0;
      }

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }

    }

    .walk-img {
      width: 46%;
      margin-left: 4%;
      
      @media @phone {
        width: 100%;
        margin:0;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;

      }
    }
  }
}// home

.bottom{
  justify-content: center;
}

.bottom-image{
  width: 50%;
  max-width: 50%;
}

bottom-img{
  width: 50%;
  max-width: 100%;
}

.meet-the-team{
  width: 90%;
  margin: 1%;
  padding: 2%;
}

.team-box{
  border: 0.5px solid @grandparentbg;
  border-radius: 15px;
  background-color: @grandparentbg;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: initial;
  width: 90%;
  margin:1% auto;

  @media @phone{
    border-radius: 15px;
    width: 98%;
  }

  @media @tablet{
    border-radius: 10px;
  }
}

.team-intro{
  width: 100%;
  margin-top: 1%;
  padding: 2%;
  text-align: center;

  p{
    text-align: left;
   margin-top: 1%;
   color: black;
   font-size: 1.6rem; 
  }

}

.team-member{
  
  display: flex;
  flex-wrap: wrap;
  border: 5px solid @parentbg;
  border-radius: 20px;
  justify-content: space-between;
  width: 45%;
  margin: 2%;
  padding: 3%;

  // Hover Effects Start Here
  opacity: 0.6;
  transition-duration: 0.8s;
  &:hover{
    opacity:1;
  }
  //

  @media @phone, @tablet{
    .cell();
  }

  img{
    border: 0.5px dotted lightblue;
    border: 0.5px solid black;
    width: 100%;
    margin: 1%;
    margin-bottom: 5%;
    border-radius: 100%;
  }

  p{
    //border: 1px solid black;
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.4;
    text-align: center;
    color: black;
    font-family: 'Russo One', sans-serif;
    margin: 1%;
    max-width: 100%;

    a{
      max-width: 100%;
      overflow-wrap: break-word;
    }

  }
  
    h1, h2, h3, h4, h5 {
      //border: 1px solid black;
      width: 100%;
      margin: 1%;
      font-family: 'Russo One', sans-serif;
      color: @header-font-color;
      text-align: center;
    }

    h2 {
      font-size: 3.2rem;
    }

    h3 {
      font-size: 2.8rem;
    }
}

.team-image{
  max-width: 100%;
}

.content-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  border: 1px solid black;
  border-radius: 15px;
  margin:1%;
  background-color: @grandparentbg;
  
  @media @phone{
    flex-direction: column;
    justify-content: center;
  }
  
  .image{
    width: 50%;
    margin: 1%;
    max-width: 100%;
    border-radius: 10px;
      
    @media @phone{
      .cell();
    }

    img{
        
        max-width: 100%;
        border-radius: 10px;
        
        @media @phone{
          .cell();
        }

      
      }
   }

  .text{
    width: 45%;
    margin: 1%;
    padding: 1%;
    background-color:@grandparentbg;

    @media @phone{
      .cell();
    }

    p{
      margin-top: 2%;
    }

  }

   .btn{
    .newButton(@grandparentbg, @parentbg);
    text-align: center;
    border-radius: 5px;
    font-size: 1.6rem;
    padding:4%;
    width:100%;
    border: 1px solid black;

    // Inserting simple animation here

    @keyframes buttonAnimation {
      from {background-color: white;}
      to {background-color: #282828;}
    }

    animation-name: buttonAnimation;
    animation-duration: 10s;

    // Ending animation

    @media @phone{
      .cell();
      padding:4% 0;
    }

    &:hover{
      background: @h1bg;
      color: @h1text;

    }
  }
}

.container {
  /*
  max-width: 800px;
  */
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;  
}

.text-box{
  width: 90%;
  margin: 1%;
  padding: 1%;

}

.main-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1% auto;
  padding: 2% 1%;

  .main-text{
    width: 65%;

    h2, h3{
      margin:1%;
    }

    p{
      margin: 1%;
      font-size: 2.2rem;
      line-height: 1.4;
    }
  }

  .banner-image{
    width: 30%;
    max-width:100%;
    
    img{
      max-width:100%;
    }
  }

  .main-image{
    width: 30%;
    max-width: 100%;

    img{
      max-width:100%;
    }
  }
}

.image-container{
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1%;

  img{
    width: 33%;
    max-width: 100%;
    object-fit: contain;
  }
}


.grandparent-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding:1%;  
  background-color: @grandparentbg;
}

.grandchild-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @media @phone{
    flex-direction: column-reverse;
    align-items: center;
  }
}

.parent-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: @parentwidth;
  padding:2%;
  border: 1px solid @parentbg;
  margin: 1%;  
  border-radius: 25px;
  background-color: @parentbg;

  hr{
    width: 80%;
    margin: 2%;
  }

  @media @phone{
    flex-direction: column;
    width: 95%;
    align-items: center;
    justify-content: center;
  }

  a{
    width: 98%;
  }
}

.child-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 1%;
  padding: 1%;
  background-color: @grandparentbg;
  border-radius: 15px;

  h1{
    font-size: 3.6rem;
  }

  h1, h2, h3{
    margin:1%;
    text-align: center;
 
    @media @phone{
      margin: 0%;
      width: 98%;
      max-width: 98%;
    }
  }

  p{
    border-radius: 10px;
    border: 2px solid @parentbg;
    width: 78%;
    margin-bottom: 1%;
    padding: 2%;
    font-size: 2.2rem;
    font-family: 'Ubuntu','Russo One', sans-serif;
    line-height: 1.4;

    @media @phone{
      width: 96%;
    }

  }

  .image-container{
      width: 80%;
      max-width: 100%;
      background-color: @parentbg;
      margin: 1%;
      padding: 1%;
      background-color: @grandparentbg;
      border-radius: 5%;
          
        @media @phone{
          .cell();
        }

        img{
          width: 100%;
          text-align: center;
          max-width: 100%;
          border-radius: 15px;
        
          @media @phone{
            width: 80%;
          }
        }
      }

    @media @phone{
      .child-cell();
    }
  }

.child-text{
  width: 50%;
  margin: 1%;
  padding: 2%;
  background-color: @grandparentbg;
  border-radius: 15px;

  @media @phone{
    .child-cell();
  }

  h2, h3{
    width: 98%;
    padding:1%;
    text-align: center;
  }

  p{
    width: 98%;
    padding: 1%;
    font-size: 2.2rem;
    line-height: 1.4;
  }
}

.child-image{
  width: 45%;
  margin: 1%;
  max-width:100%;
  border-radius: 15px;;
  
  @media @phone{
    width: 98%;
    margin: 2% 0;
  }

  img{
    border-radius: 15px;
    max-width:100%;
  
  
    @media @phone{
      width: 100%;
      margin: 0%;
    }
  }
}

.button{
  .newButton(@grandparentbg, @parentbg);
  text-align: center;
  border-radius: 15px;
  font-size: 4rem;
  padding:4%;
  width:100%;
//  margin: 1%;
  transition-duration: 0.5s;
  border: 1px solid @h1bg;

  &:hover{    
    background-color: @h1bg;
    color: @h1text;
  }

  // // Inserting simple animation here
  // @keyframes buttonAnimation {
  //   from {background-color: @parentbg}
  //   to {background-color: @grandparentbg;}
  // }

  // animation-name: buttonAnimation;
  // animation-duration: 10s;
  // Ending animation

  @media @phone{
    .cell();
    padding:4% 0;


    &:hover{    
      background-color: @h1bg;
      color: @h1text;
    }
  
  

  }
}